/* Hero Area */
#hero-area {
    width: 100%;
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
}

    #hero-area h1 {
        font-size: 10rem;
        margin: 0;
        padding: 0;
    }

    #hero-area p {
        font-size: 2.5rem;
        margin: 0;
        padding: 0;
    }

    #make-resume {
        all: unset;
        width: 20rem;
        height: 7rem;
        border-radius: 10px;
        cursor: pointer;
        font-size: 2rem;

        background-color: skyblue;
    }

    #make-resume:active {
        background-color: rgb(125, 196, 225);
        transform: scale(0.95);
    }

/* HowItWorks Area */
.title {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

#upper-box {
    display: flex;
    flex-direction: row;
    gap: 75px;
    justify-content: space-evenly;
}



#lower-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Footer Area */
#footer-information-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;

    background-color: white;
}

#copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding: 16px;

    background-color: white;
}